In [3]:
classic_cars = ["Pierce Arrow","Oldsmobile","Mustang"]

In [5]:
for car in classic_cars:
    print(car)

Pierce Arrow
Oldsmobile
Mustang

In [6]:
#this would print the last value in For reference
car

'Mustang'

In [7]:
sports_cars = ["Agera","Regera","Chiron","Veyron"]

In [9]:
for car in sports_cars:
    print(car)

Agera
Regera
Chiron
Veyron

In [10]:
car

'Veyron'

In [11]:
#tupple forloop
for character in ("P","h","a","n","t","o","m"):
    print(character)

P
h
a
n
t
o
m

In [12]:
#list forloop
for char in ["O","l","d","s","m","o","b","i","l","e"]:
    print(char)

O
l
d
s
m
o
b
i
l
e

In [13]:
for char in "Phantom":
    print(char)

P
h
a
n
t
o
m

In [14]:
#integers cannot be iterated over like strings can
for int in 123456789:
    print(int)

TypeError: 'int' object is not iterable

In [16]:
num_list = [100,800,330,220,400,900,1100]

In [18]:
for num in num_list:
    if num < 500:
        print("<500:",num)
    else:
        print(">=500:",num)

<500: 100
>=500: 800
<500: 330
<500: 220
<500: 400
>=500: 900
>=500: 1100

In [19]:
r = range(10)

r

range(0, 10)

In [20]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
type(r)

range

In [23]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(-4,8))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

In [25]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [26]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [27]:
#incrementing by amount specified in 3rd place
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [28]:
for i in range(2,11,3):
    print(i)

2
5
8

In [29]:
#Integers only accepted
for i in range(3.141):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [30]:
#Underscore tells to ignore range integer value in forloop
for _ in range(7):
    print("Python is great")

Python is great
Python is great
Python is great
Python is great
Python is great
Python is great
Python is great

In [31]:
names_and_ages = {"John":53,"Alice":57,"Bill":14,"Dave":25}

In [32]:
for key in names_and_ages:
    print(key)

John
Alice
Bill
Dave

In [33]:
#ForLoop for both Keys and Values in a Dictionary
for key in names_and_ages:
    print("Name:",key,"Age:",names_and_ages[key])

Name: John Age: 53
Name: Alice Age: 57
Name: Bill Age: 14
Name: Dave Age: 25

In [35]:
names_and_ages.keys()

dict_keys(['John', 'Alice', 'Bill', 'Dave'])

In [39]:
for key in names_and_ages.keys():
    print(key)

John
Alice
Bill
Dave

In [40]:
names_and_ages.values()

dict_values([53, 57, 14, 25])

In [42]:
for val in names_and_ages.values():
    print(val)

53
57
14
25

In [43]:
#returns key values pairs in the list form of tuples
names_and_ages.items()

dict_items([('John', 53), ('Alice', 57), ('Bill', 14), ('Dave', 25)])

In [44]:
#Since we are using items, we have to include both variables (key, val)
for key, val in names_and_ages.items():
    print(key,val)

John 53
Alice 57
Bill 14
Dave 25